
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


main {
    padding: 3rem;
    background: #eb7aae;
}

.logo{
    height: 50px;
    padding-left: 20px;
    width: 120px;
}

.nav-item{
    text-transform: uppercase;
}

.card {
    padding: 2rem;
    border: 1px solid #141;
    box-shadow: 1px 1px 5px 3px;
    z-index: 0;
}

.card img {
    width: 500px;
    height: auto;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 5px 3px;
}
