.navbar{
    height: 60px;
    color:black;
    background-color: #ddd;
    padding: 0 32px;
}
.navbar-nav li{
    color: black;
}

.nav-item:hover{
    background-color: #ffaed3;
    transition: 3s;
    border-radius: 20px;
}

.login {
    background-color: #ffaed3;
}
#cadastro{
    box-sizing: border-box;
    margin-right: 100px;
}

.divdois {
display: flex;
align-items: flex-start;
justify-content: space-between;

}

.header-site{
    background-image: url(../img/banner.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;

}

.content-site{

    padding-top: 200px;
    padding-bottom: 200px;
}

.imagem-site{

    background-image: url(../img/banner2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;

}

.footer-site{

    background-color:#585656;
    color:#ffffff;
    padding-top:80px;
    padding-bottom:80px;

}

.logo{
    height: 50px;
    width: 120px;
}

.navbar .navbar-brand-custom {

    margin: 0;
    padding: 0;
}

.nav-item{
    text-transform: uppercase;
}

.navbar-collapse .navbar-nav li a.menu-ativo {

    color: #141111;
    font-weight: bold;
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.social img {
    width: 1.5rem;
    transition: 1s;
}
.social img:hover {
    width: 1.5rem;
    cursor: pointer;
    transform: scale(1.5);
    /*transform: translateY(-8px);*/
}

.lista{
    font-size: 18px;
}